body{
    margin: 0;
    padding: 0;
}

#navbar{
    height: 50px;
    width: 100vw;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

#heroSection{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 100vw;
    background-color: rgb(116, 118, 118);
    justify-content: space-between;
}